<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamearcades">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_game"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_game_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameArcades">
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".ChoiceMenu"
            android:exported="true" />
        <activity
            android:name=".ticTacToeAgainstComp"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TicTacToe"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Guess_Number"
            android:exported="true" />
        <activity
            android:name=".SevenBoom"
            android:exported="true" />
        <activity
            android:name=".ProfilePage"
            android:exported="true" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>